.navbar{
    width: 95%;
    margin: 15px auto;
    padding: 25px 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #001414;
    border-radius: 15px;
}

.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.search{
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

.theme-btn{
    padding: 12px;
    width: 100px;
    border: none;
    border-radius: 50%;
    background-color: #c7c7c7;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}